/* external */
h1 {
    color: red;
}

.d {
    color: red;
    font-size: 20px;
}

#d {
    color: wheat;
    font-size: 20px;
}

/* *{
แท็ก * สามารถใช้ได้ทุกตัว
} */

/* font-family คือการกำหนดฟอนต์ */
.d {
    font-family: 'Courier New', Courier, monospace;
}

/* font-size คือการกำหนดขนาดฟอนต์ */
.d {
    font-size: 20px;
    /* ขีดเส้นใต้ */
    text-decoration: dashed;
    /* กำหนดตำแหน่ง */
    text-align: center;

    /* กำหนดความสูงกว้าง */
    width: 100px;
    height: 100px;
    /* กำหนดขนาดเส้นขอบ */
    border: 2px;
    /* กำหนดกล่องด้านนอก */
    margin: auto;
    /* กำหนดกล่องด้านใน */
    padding: auto;

    /* สีพื้นหลัง */
    background-color: aliceblue;
    /* รูปพื้นหลัง */
    background-image: none;
    /* การกำหนดตำแหน่งของ content */
    float: left;
}

/* a:link  ที่ยังไม่ถูกคลิก
a:hover เมื่อนำเมาส์ไปวาง
a:visited ที่ถูกคลิกแล้ว
a:active ขณะถูกคลิก */
/* 
display คือจัดรูปแบบแสดงข้อมูล
ืnone ไม่แสดง
block แสดงขึ้นบรรทัดใหม่
inline แสดงแต่ไม่ขึ้น
inlineblock แสดงและขยายพื้นด้านใน*/

/* visibility คือการแสดงหรือซ่อน
้hidden ซ่อน
visible แสดง */


/* position จัดตำแหน่ง
static จัดค่าเดิม
relative วางวัตถุแล้วกำหนดตำแหน่งได้
absolute วางวัตถุ ให้ไปอยู่ตำแหน่งไหนก็ได้
fixed ใช้ในการจัดวางวัตุให้อยู่ตำแหน่งเดิม
sticky ให้วัตถุติดขอบตลอด */

/* impotant กำหนดวัตุนี้เป็นหลัก */

/* overflow คือการจัดข้อมูลให้อยู่ในสัดส่น
visible แสดงทั้งหมด
hidden ซ่อน
scroll ให้แทบเลื่อนออกมา
auto ให้แทบเลื่อนออกมาอัตโนมัติ */

/* boxshadow แร่เงา */

/* opacity ความทึบวัตุ */

body {
    background-color: gray;
}

/* responsive */
@media only screen and (max-width:500px) {
    body {
        background-color: bisque;
    }

    .smartphone {
        display: block;
        color: beige;
    }
}

@media (min-width:501px) and (max-width:768px) {
    body {
        background-color: black;
    }

    .tablet {
        display: block;
        color: #000;
    }
}

@media (min-width:769px) and (max-width:1200px) {
    body {
        background-color: green;
    }

    .labtop {
        display: block;
        color: green;
    }
}


@media (min-width:1201px) {
    body {
        background-color: red;
    }

    .labtop {
        display: block;
        color: red;
    }
}

.flex-contrainer {
    display: flex;
    box-sizing: border-box;
    /* กำหนดทิศทาง
    flex-direction: column;
    จัดการไอเทมใน flex
    flexproperties 
    จักวางตำแหน่ง
    justify-content
    จัดวางตำแหน่ง ไอเทมข้างใน
    align-item
    
    */
}

.item {
    background: red;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* grid layout ออกแบบให้ใช้จัดสัดส่วนทิศทางเดียว */

.grid-contrainer {
    display: grid;
    /* กำหนดขนาดแถว */
    grid-template-rows: auto;
    /* กำหนดความกว้าง */
    grid-template-columns: auto;

}

.grid-item {
    background: green;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* :first-childคือการจัดgridไอเทมแรก */
.grid-item:first-child {
    background: green;
    width: 100px;
    height: 100px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: 1/4;
}

.grid-contrainer-area {
    display: grid;
    /* grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-areas:
        'head head '3fr 'content content'10fr 'footer footer'2fr /1fr 4fr;
    ;

}

.head-item {
    background: blue;
    width: 100px;
    height: 100px;
    text-align: center;
}

.content-item {
    background: wheat;
    width: 100px;
    height: 100px;
    text-align: center;
}

.footer-item {
    background: pink;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* advance seltors การกำหนดจุดใส่style */
a[target="_blank"] {
    color: green;
    background-color: red;
}

/* กำหนดสีกล่องอินพุท */
input[type="email"], input[type="tet"]{
    width: 100%;
    margin-bottom: 5px;
}
input[type="submit"]{
    color:wheat;
    background-color: red;

}

/* จัดstyleลำดับ */
li{
padding: 1px;
margin: 2px;
color: black;
}
li:nth-child(3n+1)
{
    background-color: aqua;
    color: rebeccapurple;
}

/* textshadowคือการแร่เงาตัวอักษร */

/* css variable คือตัวกำหนดเพื่อช่วยอำนวยความสะดวกอย่างเช่นใส่สี */
:root{
    --box:2px solid green;
    --background :pink;
}
.item{
    border:var(--box);
    background-color: var(--background);
}

/* tranform คือตัวจัดการทิศทางcontent */

/* tranlate ตำแหน่ง
scale ขยาย
rotate หมุน
skew เอียง */


/* transition คือ การเปลี่ยนค่า element จากค่าหนึ่งไปสู่อีกค่า */
/* transition-properties รูปแบบการเปลี่ยนค่า
transition-duration ระยะเวลา
transition-timing-fuction ฟังชั่นเปลี่ยนค่า
transition-delay ระยะเวลาเริ่มเปลี่ยน */
.boxtran{
    background-color: wheat;
    width: 100px;
    height: 100px;
    /* transition-property: var(--background);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 10s; */
    transition: all 3s ease-in 0.5s;
}
.boxtran:hover{
    background-color: red;
    border-radius: 50%;
}

/* 
.boxkey{
    background-color: wheat;
    width: 100px;
    height: 100px;
    animation-name:  animate1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
}
@keyframes animate1 {
    from{
        width: 100px;
    }
    to{
        width: 400px;
    }
} */
.boxkey{
    background-color: wheat;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name:  animate1;
    animation-iteration-count: 2;
    animation-duration: 5s;
}
@keyframes animate1 {
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 300px;
    }
    50%{
        top: 300px;
        left: 300px;
    }
    75%{
        top: 300px;
        left: 0px;
    }
    100%{
        top: 0;
        left: 0;
    }
}